[submodule "randomdistractorgenerator"]
	path = randomdistractorgenerator
	url = https://github.com/BM345/randomdistractorgenerator
[submodule "textprocessor"]
	path = textprocessor
	url = https://github.com/BM345/textprocessor
[submodule "CircuitDiagramDrawer"]
	path = CircuitDiagramDrawer
	url = https://github.com/BM345/CircuitDiagramDrawer
